#main-content {
	display: inline-block;
	vertical-align: top;
	margin-top: 10%;
}
h1 {
	font-size: 18px;
	font-family: verdana;
}
#row-1 {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 100%;
	height: 240px;
}
#row-2 {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 100%;
	height: 225px;
}
img {
	width: 200px;
	height: 200px;
}
button {
	height: 50px;
	width: 200px;
	font-size: 16px;
	display: inline-block;
	background-color: blue;
	color: white;
	border: none;
	margin-top: 10px;
}